tr{
    color: white;
}
.linha-principal-moda{
    background-color: #BB86FC ;

}
.linha-moda{
    background-color: #424250;
}

.linha-principal-casa{
    background-color:#00C4B4 ;
}
.linha-casa{
    background-color: #424250;
}
